#parent{
    background-color: rgb(18,19,13);
    align-items: center;
}
#child1{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    margin: 251.5px;
    top: 400px;
}

#parent1{
    background-color: white;
    width: 1000px;
    margin: auto;
    position: relative;
    top: 200px;
    
}
li{
    background-color: white;
    display: inline-block;
    width: 130px;
    height: 50px;
    padding-top: 5px;
    border-right: solid;
    border-right-width: 0.5px;
    text-align: center;
    padding-top: 25px;
  
    

}



#parent2{
    background-color: white;
    position: relative;
    top: 225px;
    margin: auto;
    width: 1000px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    

}

a:active{
    color: yellow;
}
a:hover{
    color:yellowgreen
}

#parent2{
    background-color: white;
    position: relative;
    top: 225px;
    left: 320px;
    width: 1000px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 50px;

}
#be{
    border-right: solid;
    font-size: 24px;
    font-family: sans-serif;
    border-width: 1px;
}
#p3{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    background-color: black;
    position: relative;
    top: 380px;
    left: 320px;
    width: 1000px;
}
#d5{
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    background-color: white;
    top: 225px;
    margin: auto;
    width: 975px;
    padding-left:10px;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#image1{
    float: left ;
    width: 350px;
    position: relative;

}
#image2{

    float: right;
    padding: 4px;
    width: 350px;
}
#parent1 ul li:last-child{
    border-right: none;
}
li a{
    text-decoration: none;
    display: inline-block;
    transition: ease 1s;

}
li a:hover{
        
        transform:translateY(-5px);
        background-color: transparent;
        
}